<% provide(:title, @character.name) %>

<h1 class="rest-in-place text-center" data-object="character" data-attribute="name" data-placeholder="Enter a name">
  <%= @character.name %>
</h1>

<div data-object="character">
<div class="row">
	<div class="col-sm-6 ">
		<h2>General</h2>
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Max HP</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="hp"><%=@character.hp%></td> 
				 <td class="rest-in-place" data-attribute="hp_bonus"><%=@character.hp_bonus%></td> 
			</tr>

			<tr> <td>Max Stamina</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="stamina"><%=@character.stamina%></td> 
				 <td class="rest-in-place" data-attribute="stamina_bonus"><%=@character.stamina_bonus%></td> 
			</tr>

			<tr> <td>Max Eita</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="eita"><%=@character.eita%></td> 
				 <td class="rest-in-place" data-attribute="eita_bonus"><%=@character.eita_bonus%></td> 
			</tr>

			<tr> <td>Initiative</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="initiative"><%=@character.initiative%></td> 
				 <td class="rest-in-place" data-attribute="initiative_bonus"><%=@character.initiative_bonus%></td> 
			</tr>
			<tr> <td>Adrenaline</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="adrenaline"><%=@character.adrenaline%></td> 
				 <td class="rest-in-place" data-attribute="adrenaline_bonus"><%=@character.adrenaline_bonus%></td> 
			</tr>
			
			<tr> <td>Focus</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="focus"><%=@character.focus%></td> 
				 <td class="rest-in-place" data-attribute="focus_bonus"><%=@character.focus_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6 ">
		<h2>Abilities</h2>
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Strength</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="strength"><%=@character.strength%></td> 
				 <td class="rest-in-place" data-attribute="strength_bonus"><%=@character.strength_bonus%></td>
			</tr>

			<tr> <td>Constitution</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="constitution"><%=@character.constitution%></td> 
				 <td class="rest-in-place" data-attribute="constitution_bonus"><%=@character.constitution_bonus%></td>
			</tr>

			<tr> <td>Dexterity</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="dexterity"><%=@character.dexterity%></td> 
				 <td class="rest-in-place" data-attribute="dexterity_bonus"><%=@character.dexterity_bonus%></td> 
			</tr>

			<tr> <td>Intelligence</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="intelligence"><%=@character.intelligence%></td> 
				 <td class="rest-in-place" data-attribute="intelligence_bonus"><%=@character.intelligence_bonus%></td> 
			</tr>

			<tr> <td>Wisdom</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="wisdom"><%=@character.wisdom%></td> 
				 <td class="rest-in-place" data-attribute="wisdom_bonus"><%=@character.wisdom_bonus%></td> 
			</tr>

			<tr> <td>Charisma</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="charisma"><%=@character.charisma%></td> 
				 <td class="rest-in-place" data-attribute="charisma_bonus"><%=@character.charisma_bonus%></td> 
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 ">
		<h2>Defenses</h2>
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Block</td> 
				<td>TODO</td> 
				<td class="rest-in-place" data-attribute="block"><%=@character.block%></td> 
				<td class="rest-in-place" data-attribute="block_bonus"><%=@character.block_bonus%></td> 
			</tr>

			<tr> <td>Reflex</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="reflex"><%=@character.reflex%></td>
				  <td class="rest-in-place" data-attribute="reflex_bonus"><%=@character.reflex_bonus%></td> 
			</tr>

			<tr> <td>Resilience</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="resilience"><%=@character.resilience%></td> 
				 <td class="rest-in-place" data-attribute="resilience_bonus"><%=@character.resilience_bonus%></td> 
			</tr>

			<tr> <td>Willpower</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="willpower"><%=@character.willpower%></td> 
				 <td class="rest-in-place" data-attribute="willpower_bonus"><%=@character.willpower_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<h2>Magics</h2>
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Sorcery</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="sorcery"><%=@character.sorcery%></td> 
				 <td class="rest-in-place" data-attribute="sorcery_bonus"><%=@character.sorcery_bonus%></td> 
			</tr>

			<tr> <td>Enchantment</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="enchantment"><%=@character.enchantment%></td> 
				 <td class="rest-in-place" data-attribute="enchantment_bonus"><%=@character.enchantment_bonus%></td> 
			</tr>

			<tr> <td>Divine</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="divine"><%=@character.divine%></td> 
				 <td class="rest-in-place" data-attribute="divine_bonus"><%=@character.divine_bonus%></td> 
			</tr>

			<tr> <td>Barding</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="barding"><%=@character.barding%></td> 
				 <td class="rest-in-place" data-attribute="barding_bonus"><%=@character.barding_bonus%></td> 
			</tr>

			<tr> <td>Wizardry</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="wizardry"><%=@character.wizardry%></td> 
				 <td class="rest-in-place" data-attribute="wizardry_bonus"><%=@character.wizardry_bonus%></td> 
			</tr>

			<tr> <td>Alchemy</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="alchemy"><%=@character.alchemy%></td> 
				 <td class="rest-in-place" data-attribute="alchemy_bonus"><%=@character.alchemy_bonus%></td> 
			</tr>
		</table>
	</div>
</div>


<div class="row">
	<h2 class="text-center">Common Skills</h2>
	<div class="col-sm-6 ">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Acrobatics</td> 
				<td>TODO</td> 
				<td class="rest-in-place" data-attribute="acrobatics"><%=@character.acrobatics%></td> 
				<td class="rest-in-place" data-attribute="acrobatics_bonus"><%=@character.acrobatics_bonus%></td> 
			</tr>

			<tr> <td>Athletics</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="athletics"><%=@character.athletics%></td> 
				 <td class="rest-in-place" data-attribute="athletics_bonus"><%=@character.athletics_bonus%></td> 
			</tr>

			<tr> <td>Endurance</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="endurance"><%=@character.endurance%></td> 
				 <td class="rest-in-place" data-attribute="endurance_bonus"><%=@character.endurance_bonus%></td> 
			</tr>

			<tr> <td>Bluff</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="bluff"><%=@character.bluff%></td> 
				 <td class="rest-in-place" data-attribute="bluff_bonus"><%=@character.bluff_bonus%></td> 
			</tr>

			<tr> <td>Diplomacy</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="diplomacy"><%=@character.diplomacy%></td> 
				 <td class="rest-in-place" data-attribute="diplomacy_bonus"><%=@character.diplomacy_bonus%></td> 
			</tr>

			<tr> <td>Intimidate</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="intimidate"><%=@character.intimidate%></td> 
				 <td class="rest-in-place" data-attribute="intimidate_bonus"><%=@character.intimidate_bonus%></td> 
			</tr>

			<tr> <td>History</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="history"><%=@character.history%></td> 
				 <td class="rest-in-place" data-attribute="history_bonus"><%=@character.history_bonus%></td> 
			</tr>

			<tr> <td>Insight</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="insight"><%=@character.insight%></td> 
				 <td class="rest-in-place" data-attribute="insight_bonus"><%=@character.insight_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Perception</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="perception"><%=@character.perception%></td> 
				 <td class="rest-in-place" data-attribute="perception_bonus"><%=@character.perception_bonus%></td> 
			</tr>

			<tr> <td>Stealth</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="stealth"><%=@character.stealth%></td> 
				 <td class="rest-in-place" data-attribute="stealth_bonus"><%=@character.stealth_bonus%></td> 
			</tr>

			<tr> <td>Thievery</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="thievery"><%=@character.thievery%></td> 
				 <td class="rest-in-place" data-attribute="thievery_bonus"><%=@character.thievery_bonus%></td> 
			</tr>

			<tr> <td>Beast Mastery</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="beast_mastery"><%=@character.beast_mastery%></td> 
				 <td class="rest-in-place" data-attribute="beast_mastery_bonus"><%=@character.beast_mastery_bonus%></td> 
			</tr>

			<tr> <td>Botany</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="botany"><%=@character.botany%></td> 
				 <td class="rest-in-place" data-attribute="botany_bonus"><%=@character.botany_bonus%></td> 
			</tr>

			<tr> <td>Gathering</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="gathering"><%=@character.gathering%></td> 
				 <td class="rest-in-place" data-attribute="gathering_bonus"><%=@character.gathering_bonus%></td> 
			</tr>

			<tr> <td>Spelunking</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="spelunking"><%=@character.spelunking%></td> 
				 <td class="rest-in-place" data-attribute="spelunking_bonus"><%=@character.spelunking_bonus%></td> 
			</tr>

			<tr> <td>Tracking</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="tracking"><%=@character.tracking%></td> 
				 <td class="rest-in-place" data-attribute="tracking_bonus"><%=@character.tracking_bonus%></td> 
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<h2 class="text-center">Weaponry Skills</h2>
	<div class="col-sm-6 ">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Axes</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="axes"><%=@character.axes%></td> 
				 <td class="rest-in-place" data-attribute="axes_bonus"><%=@character.axes_bonus%></td> 
			</tr>

			<tr> <td>Double Axes</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="double_axes"><%=@character.double_axes%></td> 
				 <td class="rest-in-place" data-attribute="double_axes_bonus"><%=@character.double_axes_bonus%></td> 
			</tr>

			<tr> <td>Double Hammers</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="double_hammers"><%=@character.double_hammers%></td> 
				 <td class="rest-in-place" data-attribute="double_hammers_bonus"><%=@character.double_hammers_bonus%></td> 
			</tr>

			<tr> <td>Heavy Blades</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="heavy_blades"><%=@character.heavy_blades%></td> 
				 <td class="rest-in-place" data-attribute="heavy_blades_bonus"><%=@character.heavy_blades_bonus%></td> 
			</tr>

			<tr> <td>Heavy Gauntlets</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="heavy_gauntlets"><%=@character.heavy_gauntlets%></td> 
				 <td class="rest-in-place" data-attribute="heavy_gauntlets_bonus"><%=@character.heavy_gauntlets_bonus%></td> 
			</tr>

			<tr> <td>Mallets</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="mallets"><%=@character.mallets%></td> 
				 <td class="rest-in-place" data-attribute="mallets_bonus"><%=@character.mallets_bonus%></td> 
			</tr>

			<tr> <td>Picks</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="picks"><%=@character.picks%></td> 
				 <td class="rest-in-place" data-attribute="picks_bonus"><%=@character.picks_bonus%></td> 
			</tr>

			<tr> <td>Double Lights</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="double_lights"><%=@character.double_lights%></td> 
				 <td class="rest-in-place" data-attribute="double_lights_bonus"><%=@character.double_lights_bonus%></td> 
			</tr>

			<tr> <td>Hatchets</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="hatchets"><%=@character.hatchets%></td> 
				 <td class="rest-in-place" data-attribute="hatchets_bonus"><%=@character.hatchets_bonus%></td> 
			</tr>

			<tr> <td>Flails</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="flails"><%=@character.flails%></td> 
				 <td class="rest-in-place" data-attribute="flails_bonus"><%=@character.flails_bonus%></td> 
			</tr>

			<tr> <td>Heavy Thrown</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="heavy_thrown"><%=@character.heavy_thrown%></td> 
				 <td class="rest-in-place" data-attribute="heavy_thrown_bonus"><%=@character.heavy_thrown_bonus%></td> 
			</tr>

			<tr> <td>Maces</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="maces"><%=@character.maces%></td> 
				 <td class="rest-in-place" data-attribute="maces_bonus"><%=@character.maces_bonus%></td> 
			</tr>

			<tr> <td>Pole-arms/Spears</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="spears"><%=@character.spears%></td> 
				 <td class="rest-in-place" data-attribute="spears_bonus"><%=@character.spears_bonus%></td> 
			</tr>

			<tr> <td>Bombs</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="bombs"><%=@character.bombs%></td> 
				 <td class="rest-in-place" data-attribute="bombs_bonus"><%=@character.bombs_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>		
			<tr> <td>Bows</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="bows"><%=@character.bows%></td> 
				 <td class="rest-in-place" data-attribute="bows_bonus"><%=@character.bows_bonus%></td> 
			</tr>

			<tr> <td>Light Blades</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="light_blades"><%=@character.light_blades%></td> 
				 <td class="rest-in-place" data-attribute="light_blades_bonus"><%=@character.light_blades_bonus%></td> 
			</tr>

			<tr> <td>Light Gauntlets</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="light_gauntlets"><%=@character.light_gauntlets%></td> 
				 <td class="rest-in-place" data-attribute="light_gauntlets_bonus"><%=@character.light_gauntlets_bonus%></td> 
			</tr>

			<tr> <td>Light Thrown</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="light_thrown"><%=@character.light_thrown%></td> 
				 <td class="rest-in-place" data-attribute="light_thrown_bonus"><%=@character.light_thrown_bonus%></td> 
			</tr>

			<tr> <td>Slings</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="slings"><%=@character.slings%></td> 
				 <td class="rest-in-place" data-attribute="slings_bonus"><%=@character.slings_bonus%></td> 
			</tr>

			<tr> <td>Blow Darts</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="blow_darts"><%=@character.blow_darts%></td> 
				 <td class="rest-in-place" data-attribute="blow_darts_bonus"><%=@character.blow_darts_bonus%></td> 
			</tr>

			<tr> <td>Crossbows</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="crossbows"><%=@character.crossbows%></td> 
				 <td class="rest-in-place" data-attribute="crossbows_bonus"><%=@character.crossbows_bonus%></td> 
			</tr>

			<tr> <td>Firearms</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="firearms"><%=@character.firearms%></td> 
				 <td class="rest-in-place" data-attribute="firearms_bonus"><%=@character.firearms_bonus%></td> 
			</tr>

			<tr> <td>Crystal Orbs</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="crystal_orbs"><%=@character.crystal_orbs%></td> 
				 <td class="rest-in-place" data-attribute="crystal_orbs_bonus"><%=@character.crystal_orbs_bonus%></td> 
			</tr>

			<tr> <td>Staffs</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="staffs"><%=@character.staffs%></td> 
				 <td class="rest-in-place" data-attribute="staffs_bonus"><%=@character.staffs_bonus%></td> 
			</tr>

			<tr> <td>Divine Tomes</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="divine_tomes"><%=@character.divine_tomes%></td> 
				 <td class="rest-in-place" data-attribute="divine_tomes_bonus"><%=@character.divine_tomes_bonus%></td> 
			</tr>

			<tr> <td>Symbols</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="symbols"><%=@character.symbols%></td> 
				 <td class="rest-in-place" data-attribute="symbols_bonus"><%=@character.symbols_bonus%></td> 
			</tr>

			<tr> <td>Gemstones</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="gemstones"><%=@character.gemstones%></td> 
				 <td class="rest-in-place" data-attribute="gemstones_bonus"><%=@character.gemstones_bonus%></td> 
			</tr>

			<tr> <td>Wands</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="wands"><%=@character.wands%></td> 
				 <td class="rest-in-place" data-attribute="wands_bonus"><%=@character.wands_bonus%></td> 
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<h2 class="text-center">Martial Skills</h2>
	<div class="col-sm-6 ">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Balance</td>
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="balance"><%=@character.balance%></td> 
				 <td class="rest-in-place" data-attribute="balance_bonus"><%=@character.balance_bonus%></td> 
			</tr>

			<tr> <td>Blocks</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="blocks"><%=@character.blocks%></td> 
				 <td class="rest-in-place" data-attribute="blocks_bonus"><%=@character.blocks_bonus%></td> 
			</tr>

			<tr> <td>Kicks</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="kicks"><%=@character.kicks%></td> 
				 <td class="rest-in-place" data-attribute="kicks_bonus"><%=@character.kicks_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Pain</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="pain"><%=@character.pain%></td> 
				 <td class="rest-in-place" data-attribute="pain_bonus"><%=@character.pain_bonus%></td> 
			</tr>

			<tr> <td>Pressure Points</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="pressure_points"><%=@character.pressure_points%></td> 
				 <td class="rest-in-place" data-attribute="pressure_points_bonus"><%=@character.pressure_points_bonus%></td> 
			</tr>

			<tr> <td>Punches</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="punches"><%=@character.punches%></td> 
				 <td class="rest-in-place" data-attribute="punches_bonus"><%=@character.punches_bonus%></td> 
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<h2 class="text-center">Crafts</h2>
	<div class="col-sm-6 ">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Armors</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="armors"><%=@character.armors%></td> 
				 <td class="rest-in-place" data-attribute="armors_bonus"><%=@character.armors_bonus%></td> 
			</tr>

			<tr> <td>Blades</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="blades"><%=@character.blades%></td> 
				 <td class="rest-in-place" data-attribute="blades_bonus"><%=@character.blades_bonus%></td> 
			</tr>

			<tr> <td>Clothing</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="clothing"><%=@character.clothing%></td> 
				 <td class="rest-in-place" data-attribute="clothing_bonus"><%=@character.clothing_bonus%></td> 
			</tr>

			<tr> <td>Flails/Maces</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="flails_c"><%=@character.flails_c%></td> 
				 <td class="rest-in-place" data-attribute="flails_c_bonus"><%=@character.flails_c_bonus%></td> 
			</tr>

			<tr> <td>Foods</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="foods"><%=@character.foods%></td> 
				 <td class="rest-in-place" data-attribute="foods_bonus"><%=@character.foods_bonus%></td> 
			</tr>

			<tr> <td>Gauntlets</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="gauntlets"><%=@character.gauntlets%></td> 
				 <td class="rest-in-place" data-attribute="gauntlets_bonus"><%=@character.gauntlets_bonus%></td> 
			</tr>

			<tr> <td>Mallets/Picks</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="mallets_c"><%=@character.mallets_c%></td> 
				 <td class="rest-in-place" data-attribute="mallets_c_bonus"><%=@character.mallets_c_bonus%></td> 
			</tr>

			<tr> <td>Pole-arms/Spears</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="spears_c"><%=@character.spears_c%></td> 
				 <td class="rest-in-place" data-attribute="spears_c_bonus"><%=@character.spears_c_bonus%></td> 
			</tr>

			<tr> <td>Shields</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="shields"><%=@character.shields%></td> 
				 <td class="rest-in-place" data-attribute="shields_bonus"><%=@character.shields_bonus%></td> 
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table table-striped">
			<tr> <th>Stat</th> <th>Total</th> <th>Training Points</th> <th>Bonus Points</th> </tr>
			<tr> <td>Bows/Slings+Ammo</td> 
				<td>TODO</td> 
				<td class="rest-in-place" data-attribute="bows_c"><%=@character.bows_c%></td> 
				<td class="rest-in-place" data-attribute="bows_c_bonus"><%=@character.bows_c_bonus%></td> 
			</tr>

			<tr> <td>Structures</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="structures"><%=@character.structures%></td> 
				 <td class="rest-in-place" data-attribute="structures_bonus"><%=@character.structures_bonus%></td> 
			</tr>

			<tr> <td>Tools</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="tools"><%=@character.tools%></td> 
				 <td class="rest-in-place" data-attribute="tools_bonus"><%=@character.tools_bonus%></td> 
			</tr>

			<tr> <td>Traps</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="traps"><%=@character.traps%></td> 
				 <td class="rest-in-place" data-attribute="traps_bonus"><%=@character.traps_bonus%></td> 
			</tr>

			<tr> <td>Chemicals</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="chemicals"><%=@character.chemicals%></td> 
				 <td class="rest-in-place" data-attribute="chemicals_bonus"><%=@character.chemicals_bonus%></td> 
			</tr>

			<tr> <td>Explosives</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="explosives"><%=@character.explosives%></td> 
				 <td class="rest-in-place" data-attribute="explosives_bonus"><%=@character.explosives_bonus%></td> 
			</tr>

			<tr> <td>Firearms+Ammo</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="firearms_c"><%=@character.firearms_c%></td> 
				 <td class="rest-in-place" data-attribute="firearms_c_bonus"><%=@character.firearms_c_bonus%></td> 
			</tr>

			<tr> <td>Machines</td> 
				 <td>TODO</td> 
				 <td class="rest-in-place" data-attribute="machines"><%=@character.machines%></td> 
				 <td class="rest-in-place" data-attribute="machines_bonus"><%=@character.machines_bonus%></td> 
			</tr>
		</table>
	</div>
</div>
</div>